@model Product

<h1>Product Details</h1>
<br />
<div>
    <h4>Product ID: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Description: @Model.Description</h4>
    <h4>Price: @Model.Price</h4>
</div>
<br />

<a class="btn btn-primary" asp-action="Index">Back to List</a>

