@using AssignmentEAD.Data;
@model Category

<h1>Category Details</h1>
<br />
<div>
    <h4>Category ID: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
</div>


<br />
<a class="btn btn-primary" asp-action="Index">Back to List</a>
